<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">
    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="item">
          <h1 class="ui inverted header">HelloBlog</h1>
        </a>
        {{#link-to "user.articles" class="active item"}}My Articles{{/link-to}}
        <div class="right item">
          <div>

            <div class="ui circular vertical animated button button-min-width" tabindex="0">
              <div class="visible content">
                <i class="bookmark icon"></i>({{readingList.length}})
              </div>
              <div class="hidden content">Read ({{readingList.length}})</div>
            </div>

            <div class="ui circular vertical animated button button-min-width" tabindex="0">
              <div class="visible content">
                <i class="sign in icon"></i>
              </div>
              <div class="hidden content">Sign In</div>
            </div>

            <div class="ui circular vertical animated button button-min-width" tabindex="0">
              <div class="visible content">
                <i class="add user icon"></i>
              </div>
              <div class="hidden content">Sign In</div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui container">
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    {{outlet}}
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
  </div>

</div>
