<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">
    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="item">
          <h1 class="ui inverted header">HelloBlog</h1>
        </a>
        <a class="active item">My Articles</a>
        <div class="right item">
          <a class="ui inverted button">Log in</a>
          <a class="ui inverted button">Sign Up</a>
        </div>
      </div>
    </div>
  </div>

  <div class="ui container">
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    {{outlet}}
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
  </div>

</div>
